In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../DataSets/salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [3]:
inputs = df.drop("salary_more_then_100k", axis=1)
target = df["salary_more_then_100k"]

# encode the "company" column
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

inputs["company_n"] = le_company.fit_transform(inputs["company"])
inputs["job_n"] = le_job.fit_transform(inputs["job"])
inputs["degree_n"] = le_degree.fit_transform(inputs["degree"])

inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [4]:
inputs_n = inputs.drop(columns=["company", "job", "degree"], axis=1)
inputs_n.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [6]:
# create decision tree classification model
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()

# train the model
model.fit(inputs_n, target)

# predict the score
model.score(inputs_n, target)

1.0

In [7]:
# predict
model.predict([[2, 2, 1]])  # company=google, job=sales executive degree=masters

array([0], dtype=int64)

In [8]:
model.predict([[2, 0, 1]])

array([1], dtype=int64)