# Pandas DataFrame
Pandas DataFrame is two-dimensional, size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows & columns).

In [1]:
import pandas as pd

## Empty DataFrame

In [2]:
empty_df = pd.DataFrame()
empty_df

Empty DataFrame
Columns: []
Index: []

## Create DataFrame from Python List

In [3]:
lst = ['a', 'b', 'c']
df1 = pd.DataFrame(lst)
df1

   0
0  a
1  b
2  c

In [4]:
ls_of_ls = [[1, 2, 3], [2, 3, 4], [4, 5, 6]]
df2 = pd.DataFrame(ls_of_ls)
df2

   0  1  2
0  1  2  3
1  2  3  4
2  4  5  6

## Create DataFrame from Python Dictionary

In [5]:
dict1 = {"ID": [11, 22, 33, 44]}
df3 = pd.DataFrame(dict1)
df3

   ID
0  11
1  22
2  33
3  44

In [7]:
dict1 = {"ID": [11, 22, 33, 44], "SN": [1, 2, 3, 4]}
df3 = pd.DataFrame(dict1)
df3

   ID  SN
0  11   1
1  22   2
2  33   3
3  44   4

In [8]:
ls_dict = [{'a': 1, 'b': 2}, {'a': 3, 'b': 4}]
df4 = pd.DataFrame(ls_dict)
df4

   a  b
0  1  2
1  3  4

In [9]:
ls_dict = [{'a': 1, 'b': 2}, {'a': 3, 'b': 4, 'c': 5}]
df4 = pd.DataFrame(ls_dict)
df4

   a  b    c
0  1  2  NaN
1  3  4  5.0

## Create DataFrame Using Pandas Series

In [10]:
dict_sr = {'Id': pd.Series([1, 2, 3]), 'SN': [111, 222, 333]}
df5 = pd.DataFrame(dict_sr)
df5

   Id   SN
0   1  111
1   2  222
2   3  333

## Read from CSV File: