# What is pandas?
- Pandas is a powerful python data analysis toolkit.
- Open source
- A fast and efficient dataframe object for data manipulation
- Reading and writing data structures and different formats: csv, tsv, txt, XML, JSON, ZIP etc

# Pandas Data Structures:
- Series
- DataFrame
- Panel

# Pandas vs NumPy:
- Numpy array is used for the implementation of Pandas data objects.

# Series:

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.3.2'

## With Python List:

In [3]:
list_s = [1, 2, -3, 6.2, 'data values']
series1 = pd.Series(list_s)
series1

0              1
1              2
2             -3
3            6.2
4    data values
dtype: object

In [4]:
type(series1)

pandas.core.series.Series

In [5]:
series2 = pd.Series([1, 2, 3, 4])
series2

0    1
1    2
2    3
3    4
dtype: int64

## Empty Series:

In [6]:
empty_s = pd.Series([])
empty_s

C:\Users\sayan\AppData\Local\Temp/ipykernel_7288/2492154242.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s = pd.Series([])

Series([], dtype: float64)

## *index* parameter:

In [7]:
series3 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
series3

a    1
b    2
c    3
d    4
dtype: int64

## *dtype* parameter:

In [8]:
series3 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'], dtype=float)
series3

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

## *name* parameter:

In [2]:
series3 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'], dtype=float, name='data values')
series3

a    1.0
b    2.0
c    3.0
d    4.0
Name: data values, dtype: float64

## Create Scalar Series:

In [3]:
scalar_s = pd.Series(0.5)
scalar_s

0    0.5
dtype: float64

In [4]:
scalar_s = pd.Series(0.5, index=[1, 2, 3])
scalar_s

1    0.5
2    0.5
3    0.5
dtype: float64

## Create Series Using Python Dictionary:

In [5]:
dict_s = pd.Series({'a': 1, 'b': 2, 'c': 3})
dict_s

a    1
b    2
c    3
dtype: int64

In [6]:
s4 = pd.Series([1, 2, 3, 4, 5])
s4

0    1
1    2
2    3
3    4
4    5
dtype: int64

## Slicing:

In [7]:
s4[0]

1

In [8]:
s4[3]

4

In [9]:
s4[0:3]

0    1
1    2
2    3
dtype: int64

## min & max

In [10]:
max(s4)

5

In [11]:
min(s4)

1

## Arithmetic Operations

In [12]:
s4[s4 > 3]

3    4
4    5
dtype: int64

In [13]:
s5 = pd.Series([1, 2, 3, 4, 5])
s5

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
s4 + s5

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [15]:
s6 = pd.Series([1, 2, 3])
s6

0    1
1    2
2    3
dtype: int64

In [16]:
s5 + s6

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64